html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.right-col {
  width: 10000px;
  padding: 5px;
}

.icon {
  height: 24px;
  margin: 10px;
}

.message {
  font-size: 0.9rem;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}

.queue-timer {
  font-weight: 600;
}

.button {
  background: #fff;
  border: none;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  outline: none;
}

.button:hover {
  color: #2860a9;
}

.row {
  display: flex;
}
