html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.notification {
}

.right-col {
  width: 10000px;
  padding: 5px;
}

.icon {
}

.message {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.queue-timer {
  font-size: 0.9rem;
  font-weight: 600;
}

.buttons {
}

.button {
  background: #fff;
  border: none;
  border-top: 1px solid red;
  cursor: pointer;
}

.button:hover {
  background: #205190;
}
