<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Velaro</title>
  </head>
  <style>
    html,
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    .container {
      max-width: 800px;
      padding: 30px;
      margin: 0 auto;
      text-align: center;
    }
  </style>
  <body>
    <div class="container">
      <h1>Sorry, Velaro failed to load.</h1>
      <p>
        Please check your internet connection, close (alt + F4), and re-open the
        application. If your internet connection is stable and you are still
        unable to load the application, contact support@velaro.com
      </p>
    </div>
  </body>
</html>
