<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Velaro</title>
    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        text-align: center;
        padding-top: 200px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #666;
      }

      .loading img {
        width: 50px;
      }
    </style>
  </head>
  <body>
    <div class="loading">
      <img src="splash.svg" />
      <p>Loading...</p>
    </div>
  </body>
</html>
