<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Velaro</title>
    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        text-align: center;
        padding-top: 200px;
      }

      .loading img {
        width: 50px;
        animation: rotation 2s infinite linear;
      }

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(359deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="loading">
      <img src="splash.svg" />
    </div>
  </body>
</html>
